.container {
  width: 90%;
  margin: auto;
  margin-top: 2em;
}

img {
  max-width: 100%;
  height: auto;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  a {
    color: inherit;
  }
}

//button[mat-icon-button] {
//  $outer-width: 28px;
//  $inner-width: 20px;
//
//  width: $outer-width !important;
//  height: $outer-width !important;
//  padding: 0px !important;
//  display: inline-flex !important;
//  align-items: center;
//  justify-content: center;
//
//  & > *[role="img"] {
//    width: $inner-width;
//    height: $inner-width;
//    font-size: $inner-width;
//
//    svg {
//      width: $inner-width;
//      height: $inner-width;
//    }
//  }
//
//  .mat-mdc-button-touch-target {
//    width: $outer-width !important;
//    height: $outer-width !important;
//  }
//}
