<app-upload>
  <div class="container">
    <mat-grid-list cols="5">
      <mat-grid-tile *ngFor="let clip of clips">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              {{ clip.name }}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <img
              mat-card-image
              width="100%"
              height="auto"
              [src]="clip.thumbnailUrl"
            />
            <div class="actions">
              <a routerLink="/{{ clip.key }}">{{ baseUrl }}/{{ clip.key }}</a>
              <button
                mat-icon-button
                matTooltip="Copy link"
                [cdkCopyToClipboard]="baseUrl + '/' + clip.key"
              >
                <mat-icon>content_copy</mat-icon>
              </button>
              <button
                mat-icon-button
                matTooltip="Delete"
                color="warn"
                (click)="deleteClip(clip.key)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-card-content>
          <mat-card-footer>
            <p>UPLOADED: {{ clip.createdAt | date : "short" : "local" }}</p>
          </mat-card-footer>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</app-upload>
